body {
    background-color: #EEEEEE !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

/*=========================================================Navigation bar=============================================*/
header > div, header > div > menu {
    padding: 0;
    margin: 0;
    gap: 30px;
}

header > div:nth-child(2) {
    width: 10px;
}

header > div {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #7D7D7D;
}

li {
    list-style-type: none;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    height: 54px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px -7px black;
}

.nav-icon {
    font-size: 22px;
    margin-bottom: 2px;
}

#search-bar {
    border: none;
    box-shadow: 0 0 3px -2px black;
    border-radius: 5px;
    height: 32px;
    width: 250px;
    background-color: #EEEEEE;
    padding-left: 35px;
}

#search-bar-div {
    position: relative;
}

#search-bar-div > i {
    color: #000000;
    position: absolute;
    left: 10px;
}

/*================================================== left section =====================================================*/

/*================================================== profile summery =====================================================*/
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    margin: auto;
    display: flex;
    width: 100%;
    height: max-content;
}

#followed-page-section, #recommendation-section {
    position: fixed;
}

#followed-page-section {
    width: 250px;
    left: 0;
    gap: 30px;
    height: max-content;
}

#recommendation-section {
    right: 0;
    width: 270px;
}

#profile-summary {
    background-color: white;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    top: 75px;
    box-shadow: 0 0 12px -9px black;
}

#profile-summary-cover-photo {
    width: 100%;
    height: 75px;
    background-color: #ff6800;
    border-radius: 10px 10px 0 0;
}

#profile-summary-profile-photo {
    width: 100%;
    height: 60px;
    position: relative;
}

#profile-summary-profile-photo > div {
    width: 88px;
    height: 88px;
    border-radius: 12px;
    background-color: white;
    top: -30px;
    position: relative;
}

#profile-photo {
    width: 84px;
    height: 84px;
    border-radius: 10px;
    background-color: #ff6800;
}

#profile-summary-about {
    width: 100%;
    text-align: center;
    height: max-content;
}

#user-name {
    margin: 0;
}

#about {
    padding: 0 15px 0 15px;
    font-size: 14px;
    color: #808080;
}

/*==================================================== followed pages section ========================================*/
#followed-pages {
    box-shadow: 0 0 12px -9px black;
    background-color: white;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    top: 345px;
}

#followed-pages > h4 {
    align-self: self-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home-page-section {
    width: 100%;
}

.page {
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    height: 45px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.page-image {
    width: 40px;
    height: 40px;
    background-color: wheat;
    border-radius: 5px;
}

.page-details {
    display: flex;
    align-items: flex-start;
}

.page-details > h4, .page-details > p {
    margin: 0;
    align-self: self-start;
}

.page-details > p {
    font-size: 13px;
    color: #808080;
}

/*================================================ right section =====================================================*/

/*========================================= recommended pages and profiles  ==========================================*/
#recommended-to-follow {
    box-shadow: 0 0 12px -9px black;
    width: 220px;
    height: max-content;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 75px;
}

#recommended-pagesOrProfiles-section {
    width: 80%;
    align-items: flex-start;
}

#recommended-to-follow > h4 {
    margin-top: 10px;
    font-size: small;
    margin-bottom: 10px;
    align-self: flex-start;
    position: relative;
    left: 10px;
}

.horizontal-line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-top: 0;
    margin-bottom: 10px;
}

#recommended-pagesOrProfiles-section > h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#recommended-pagesOrProfiles-section > a > h6 {
    margin: 0;
    margin-bottom: 10px;
}

.recommended-pagesOrProfiles {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 65px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.recommended-pagesOrProfiles-image {
    width: 50px;
    height: 50px;
    background-color: wheat;
    border-radius: 5px;
    align-self: flex-start;
}

.recommended-pagesOrProfiles-details {
    align-self: flex-start;
    gap: 2px;
    align-items: flex-start;
}

.recommended-pagesOrProfiles-details > h4, .recommended-pagesOrProfiles-details > p {
    margin: 0;
}

.recommended-pagesOrProfiles-details > p {
    font-size: 12px;
    color: #808080;
}

.follow-btn {
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 8px;
    background-color: white;
    height: 28px;
    font-size: 15px;
    gap: 5px;
}

/*============================================= center section =====================================================*/
/*=========================================== create post section ==================================================*/
#posts-shared-section {
    width: 540px;
    /*height: 500px;*/
    position: relative;
    /* background-color: black; */
    top: 20px;
}

#create-post-section {
    /* position: absolute;
     top: 20px;*/
    width: 520px;
    height: max-content;
    background-color: white;
    border-radius: 10px;
}

#write-post-div {
    width: 100%;
}

#write-post-btn {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    width: 390px;
    border-radius: 8px;
    border: 2px solid #bfbfbf;
    background-color: white;
    color: #808080;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 15px;
}

#profile-photo-of-create-post-section {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #ff6800;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#media-or-event-div {
    width: 100%;
}

#media-or-event-div > button {
    gap: 15px;
    font-size: 22px;
    border: none;
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.vertical-line {
    background-color: #EEEEEE;
    width: 2px;
    height: 50px;
}

/*============================================= post =====================================================*/

.post {
    width: 520px;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.posted-account-details {
    position: relative;
    left: 0;
    display: flex;
    align-self: flex-start;
}

#separate-line-post-section-and-create-post {
    margin: 20px 0 20px 0;
    width: 520px;
    height: 2px;
    background-color: #B3B3B3;
}

.user-or-page-dp {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #ff6800;
    margin: 15px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}

.user-or-page-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-or-page-details > h3, .user-or-page-details > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.post-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-content > p {
    margin: 0 15px 5px 15px;
    font-size: 15px;
}

.post-media {
    width: 520px;
    height: 320px;
    background-color: #ff6800;
}

.post-reaction-bar {
    display: flex;
    height: 45px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    left: 15px;
}

.heart-react {
    width: fit-content;
    height: 40px;
    font-size: 32px;
    background-color: white;
    border: none;
}

.first-reacted-user, .second-reacted-user {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: center;
    border: 1px #000000 solid;
    background-size: cover;
    background-color: #ff6800;
}

.second-reacted-user {
    position: absolute;
    left: 15px;
}

.other-reacted-users {
    position: relative;
    left: 20px;
    font-size: 18px;
}

.other-reacted-users > small > a {
    color: black;
}

.post > .horizontal-line {
    margin: 0;
}

/*============================================= Users section =====================================================*/

#user-section {
    display: flex;
    width: 800px;
    top: 20px;
    position: relative;
    height: max-content;
    background-color: white;
    left: 120px;
    border-radius: 10px;
}

#mutual-followers-section, #popular-peoples-section, #pages-section {
    height: max-content;
    width: 100%;
}

#mutual-followers-section > section, #popular-peoples-section > section, #pages-section > section {
    gap: 30px;
}

#mutual-followers-section > h2, #popular-peoples-section > h2, #pages-section > h2 {
    margin: 20px;
    align-self: flex-start;
}

.user {
    background-color: white;
    width: 200px;
    height: max-content;
    box-shadow: 0 4px 16px -4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.user-dp {
    width: 100%;
    height: 50px;
}

.user-dp > div {
    position: relative;
    top: -25px;
    width: 86px;
    height: 86px;
    border-radius: 12px;
    background-color: #ffffff;
}

.user-cover-photo {
    top: 0;
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #ff6800;
    border-radius: 10px 10px 0 0;
}

.profile-photo {
    width: 80px;
    border-radius: 10px;
    height: 80px;
    background-color: #ff6800;
}

.user-name {
    margin: 0;
}

.user-about {
    font-size: 14px;
    padding: 0 10px 0 10px;
    text-align: center;
    margin: 5px 0 10px 0;
}

.user-follow-btn-div {
    width: 100%;
}

.user-follow-btn-div > button {
    margin-bottom: 15px;
    border: 2px solid #808080;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    background-color: white;
}

/*============================================= Notification section =====================================================*/

#notifications-section {
    display: flex;
    width: 800px;
    top: 20px;
    position: relative;
    height: max-content;
    background-color: white;
    left: 120px;
    border-radius: 10px;
}

/*=============================================== notification =======================================================*/
.notification {
    width: 750px;
    display: flex;
    align-self: flex-start;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
}

#notifications-btn-bar {
    display: flex;
    align-self: flex-start;
    gap: 10px;
    margin: 15px;
}

#notifications-btn-bar > button {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.reacted-user-dp {
    border-radius: 5px;
    width: 50px;
    align-self: flex-start;
    height: 50px;
    background-color: #ff6800;
    margin: 10px 15px 0 10px;
}

.notification-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
    align-self: flex-start;
}

.notification-detail > p {
    margin: 0;
    align-self: flex-start;
    font-size: 14px;
}

.notification-detail > div {
    display: flex;
    width: 650px;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    height: max-content;
    align-items: flex-start;
}

.notification-post-image {
    width: 100px;
    display: flex;
    flex-grow: 1;
    height: 70px;
    border-radius: 10px 0 0 10px;
    background-color: #ff6800;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.notification-post-detail {
    align-items: flex-start;
    width: 80%;
    flex-grow: 2;
}

.notification-post-detail > p {
    margin-top: 10px;
    padding: 0;
    font-size: 12px;
}

/*======================================================= profile section ============================================*/
#profile-section,
#page-section {
    width: 800px;
    top: 20px;
    position: relative;
    height: max-content;
    /*background-color: white;*/
    left: -120px;
    border-radius: 10px;
    display: flex;
}


#profile-details-section,
#profile-pined-post-section,
#profile-positions-section,
#profile-activity-section,
#page-details-section,
#page-pined-post-section,
#page-positions-section,
#page-about-section,
#page-event-section,
#page-activity-section {
    width: 100%;
    height: max-content;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    justify-content: flex-start; /*-------------------------*/
}

#profile-cover-photo,
#page-cover-photo {
    position: relative;
    height: 200px;
    background-color: #ff6800;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#cover-img,
#page-cover-img {
    width: 100%;
    height: 100%;
}

#upload-cover-img,
#page-upload-cover-img {
    position: absolute;
    right: 5px;
    bottom: 5px;
    /*z-index: 1;*/
}

#upload-cover-img > button,
#page-upload-cover-img > button {
    border-radius: 100%;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff6800;
    color: #ff6800;
}

#profile-profile-photo,
#page-profile-photo {
    height: 70px;
    width: 100%;
}

#dp, #page-dp {
    width: 70%;
    height: 100%;
    background-color: white;
}

#dp > div,
#page-dp > div {
    width: 175px;
    height: 175px;
    background-color: white;
    position: relative;
    top: -106px;
    left: 60px;
    border-radius: 15px;
}

#dp > div > div,
#page-dp > div > div {
    width: 165px;
    height: 165px;
    background-color: #ff6800;
    border-radius: 12px;
}

#dp-img, #page-dp-img {
    width: 100%;
    height: 100%;
}

#upload-dp-img, #page-upload-dp-img {
    position: absolute;
    bottom: -7px;
    right: -7px;
}

#page-upload-dp-img > button,
#upload-dp-img > button {
    border-radius: 100%;
    background-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff6800;
    color: #ff6800;
}

#page-btn, #page-dp-left-div {
    width: 30%;
}

#page-btn > button {
    border: none;
    width: 200px;
    gap: 10px;
    height: 54px;
    flex-shrink: 0;
    box-shadow: 0 0 20px -8px #0000006b;
    border-radius: 10px;
    flex-direction: row;
    position: relative;
    background-color: white;
    right: -10px;
}

#page-btn-img {
    width: 44px;
    display: flex;
    height: 44px;
    background-color: brown;
    justify-content: flex-start;
    position: absolute;
    left: 5px;
    border-radius: 5px;
}

#profile-details,
#page-details {
    width: 90%;
    gap: 8px;
    display: flex;
    align-items: flex-start;
}

#page-name,
#name,
#location,
#page-location,
#headline,
#page-headline,
#youtube-link,
#page-youtube-link,
#followers-count > h3,
#page-followers-count > h3,
#following-count > h3,
#page-following-count > h3,
#post-count > h3,
#page-employees-count > h3 {
    margin: 0;
}

#page-details>div:nth-child(7)>h4{
    margin: 0;
    margin-bottom: 5px;
}

#page-location,
#location {
    margin-left: 10px;
}

#youtube-link > a,
#page-youtube-link > a {
    color: #FF8100;
}

.profile-details-vertical-line {
    margin: 0 15px;
    background-color: #00000033;
    width: 1px;
    height: 30px;
}

#page-details > div:nth-child(6) > div,
#profile-details > div:last-child > div {
    margin-right: 10px;
}

#edit-details-btn,
#page-edit-details-btn,
#user-view-btn,
#page-to-profile-btn,
#follow-btn,
#page-follow-btn,
#unfollow-btn,
#page-unfollow-btn,
#page-more-btn,
#more-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ff6800;
    background-color: white;
    margin-bottom: 10px;
    font-weight: bold;
}
#page-to-profile-btn,
#page-edit-details-btn,
#page-unfollow-btn,
#page-more-btn,
#page-follow-btn{
    margin-bottom: 0;
}
.topics {
    align-self: flex-start;
    position: relative;
    flex-grow: 1;
}

#page-pined-post-section > div:first-child,
#page-about-section > div:first-child,
#page-event-section > div:first-child,
#page-positions-section > div:first-child,
#page-activity-section > div:first-child,
#profile-pined-post-section > div:first-child,
#profile-positions-section > div:first-child,
#profile-activity-section > div:first-child {
    width: 90%;
}

#page-about-edit-btn > button,
#page-event-edit-btn > button,
#page-pined-post-edit-btn > button,
#page-positions-edit-btn > button,
#page-activity-edit-btn > button,
#pined-post-edit-btn > button,
#positions-edit-btn > button,
#activity-edit-btn > button {
    border-radius: 100%;
    background-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff6800;
    color: #ff6800;
}

.bottom-space {
    width: 100%;
    height: 60px;
}

#refresh-btn, #page-refresh-btn {
    border: 1px solid #ff6800;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: white;
    color: #ff6800;
}

#profile-positions-section > section {
    width: 90%;
}

.position > div {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
}

.position > div:last-child > p {
    padding-left: 35px;
}

.position-page-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff6800;
}

.position-details > h3,
.position-details > h4,
.position-details > p {
    margin: 0 5px;
    align-self: flex-start;
}
#employees-display-div {
    width: 100%;
    justify-content: flex-start;
}

.verified-employee {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #ff6800;
}

#company-img-div {
    gap: 5px;
    width: 100%;
    /*justify-content: flex-start;*/
    margin-bottom: 10px;
}

.company-img {
    width: 150px;
    height: 150px;
    background-color: #ff6800;
    border-radius: 10px;
}


#page-tab-section {
    width: 100%;
}

#page-about-section>section>div{
    width: 100%;
}
#page-about-section>section>div>h3,
#page-about-section>section>div>p{
    margin: 0;
    margin-bottom: 5px;
}
#Page_Image_Show{
    height: 200px;
}




/*=============================== post form ==========================*/
#post-txt{
    width: 96%;
    border-radius: 10px;
    border-color: #9e9e9e;
    height: 250px;
}

.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.custom-file-input-label {
    display: inline-block;
    padding: 10px 15px;
    /*background-color: #3498db;*/
    color: #fff;
    cursor: pointer;
}

.file-icon {
    width: 50px;
}

.actual-file-input {
    position: absolute;
    top: 0;
    right: 0;
}

#post-event-btn{
    border: none;
    background-color: white;
}

#post-post-btn{
    width: 70px;
    background-color: #ff6800;
    border: none ;
    height: 40px;
    border-radius: 10px;
}

#post-media{
    width: 100%;
    border-radius: 10px;
    height: 360px;
    display: none;
}

@media all and (max-width: 1077px) {
    #followed-page-section,
    #recommended-to-follow {
        display: none !important;
    }

    #notifications-section, #user-section {
        left: unset;
    }

    #profile-section,
    #page-section {
        left: unset;
    }
}

@media all and (max-width: 840px) {
    #notifications-btn-bar > button {
        padding: 5px;
    }

    #notifications-section,
    #user-section,
    #profile-section,
    #page-section {
        width: 700px;
    }

    .notification {
        width: 650px;
    }

    .notification-detail > div {
        width: 500px;
    }

    .notification-post-image {
        height: 80px;
    }

    .notification-post-detail > p {
        margin-top: 10px;
        padding: 0 10px 0 0;
        font-size: 12px;
    }

    #dp, #page-dp {
        width: 65%;
    }

    #page-btn, #page-dp-left-div {
        width: 35%;
    }
}

@media all and (max-width: 740px) {
    header > div:nth-child(2) {
        display: none;
    }

    header > div:last-child {
        width: 100%;
        padding-top: 10px;
        position: fixed;
        bottom: 0;
        background-color: white;
        box-shadow: 1px 0 5px -2px black;
    }

    header > div:last-child > menu {
        width: 100%;
        gap: 0;
        font-size: 12px;
    }

    header > div:last-child > menu > a {
        flex-grow: 1;
    }

    #notifications-section,
    #user-section,
    #profile-section,
    #page-section {
        width: 500px;
    }

    .notification {
        width: 450px;
    }

    .notification-detail > div {
        width: 360px;
    }

    .notification-post-detail > p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .notification-post-detail > small {
        font-size: 65%;
    }

    #mutual-followers-section > section {
        gap: 15px;
    }

    #dp, #page-dp {
        width: 50%;
    }

    #page-btn, #page-dp-left-div {
        width: 50%;
    }

    #page-activity-section > section > div,
    #profile-activity-section > section > div {
        width: 480px;
    }

    #page-activity-section > section > div > .post-media,
    #profile-activity-section > section > div > .post-media {
        width: 100%;
    }

}

@media all and (max-width: 550px) {
    #user-section,
    #notifications-section {
        width: 100%;
        border-radius: 0;
        top: 0;
    }

    #profile-cover-photo,
    #page-cover-photo {
        border-radius: 0;
    }

    #dp > div {
        width: 130px;
        height: 130px;
        top: -65px;
        left: 60px;
    }

    #profile-cover-photo,
    #page-cover-photo {
        height: 120px;
    }

    #dp > div > div {
        width: 125px;
        height: 125px;
    }

    #profile-section,
    #page-section {
        width: 100%;
        border-radius: 0;
        top: 0;
    }

    #notifications-section > section, .notification, .notification-detail > div {
        width: 100%;
    }

    .notification-detail {
        width: 80%;
    }

    .post,
    .post-media,
    #posts-shared-section {
        width: 100% !important;
    }

    #posts-shared-section > section,
    #page-activity-section > section,
    #profile-activity-section > section,
    #page-pined-post-section > section,
    #profile-pined-post-section > section {
        width: 90%;
    }

    .user-or-page-details {
        width: 82%;
    }

    .user-or-page-dp {
        width: 50px;
        height: 50px;
    }

    .user-or-page-details > h3 {
        font-size: 16px;
    }

    .user-or-page-details > p {
        font-size: 12px;
    }

    .user-or-page-details > small {
        font-size: 65%;
    }

    .post-content > p {
        font-size: 12px;
    }

    #separate-line-post-section-and-create-post {
        width: 90%;
    }

    #write-post-btn {
        width: 74%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 55px;
    }

    #media-or-event-div > button {
        font-size: 17px;
    }

    #media-or-event-div > button > img {
        width: 40px;
    }

    #profile-photo-of-create-post-section {
        width: 55px;
        height: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .vertical-line {
        height: 40px;
    }

    #page-btn > button {
        width: 177px;
        padding-left: 25px;
    }

    #Page_Image_Show{
        height: 120px;
    }
}

@media all and (max-width: 425px) {
    header > div {
        gap: 15px;
    }

    #search-bar {
        width: 200px;
    }

    .notification-detail {
        width: 70%;
    }

    #write-post-btn {
        height: 45px;
    }

    #posts-shared-section > section {
        width: 95%;
    }

    .post {
        margin-bottom: 10px;
    }

    #separate-line-post-section-and-create-post {
        margin: 10px 0 10px 0;
    }

    .post-media {
        height: 280px;
    }

    .other-reacted-users > small {
        font-size: 70%;
    }

    .heart-react {
        font-size: 30px;
    }

    #page-btn > button {
        width: 130px;
        padding-left: 49px;
    }

    #dp > div {
        left: 30px;
    }

    #page-details > div:nth-child(4),
    #page-details > div:nth-child(5),
    #profile-details > div:nth-child(5),
    #profile-details > div:nth-child(6) {
        align-self: center;
    }

    #unfollow-btn-div,
    #page-unfollow-btn-div,
    #follow-btn-div,
    #page-follow-btn-div,
    #more-btn-div,
    #page-more-btn-div {
        display: none;
    }
}

/*=========================================================Create Page=============================================*/
#addBtn{
    position: relative;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
    color: white;
    width:32%;
    height:50%;
    background: orange;
}