body {
    background-color: #EEEEEE;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

/*=========================================================Navigation bar=============================================*/
header > div, header > div > menu {
    padding: 0;
    margin: 0;
    gap: 30px;
}

header > div:nth-child(2) {
    width: 10px;
}

header > div {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #7D7D7D;
}

li {
    list-style-type: none;
}

#nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 54px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px -7px black;
}

.nav-icon {
    font-size: 22px;
    margin-bottom: 2px;
}

#search-bar {
    border: none;
    box-shadow: 0 0 3px -2px black;
    border-radius: 5px;
    height: 32px;
    width: 250px;
    background-color: #EEEEEE;
    padding-left: 35px;
}

#search-bar-div {
    position: relative;
}

#search-bar-div > i {
    color: #000000;
    position: absolute;
    left: 10px;
}

/*================================================== left section =====================================================*/

/*================================================== profile summery =====================================================*/
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    margin: auto;
    display: flex;
    width: 100%;
    height: max-content;
}

#left-section, #right-section {
    position: fixed;
}

#left-section {
    width: 250px;
    left: 0;
    gap: 30px;
    height: max-content;
}

#right-section {
    right: 0;
    width: 270px;
}

#profile-summary {
    background-color: white;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    top: 75px;
    box-shadow: 0 0 12px -9px black;
}

#profile-summary-cover-photo {
    width: 100%;
    height: 75px;
    background-color: #ff6800;
    border-radius: 10px 10px 0 0;
}

#profile-summary-profile-photo {
    width: 100%;
    height: 60px;
    position: relative;
}

#profile-summary-profile-photo > div {
    width: 88px;
    height: 88px;
    border-radius: 12px;
    background-color: white;
    top: -30px;
    position: relative;
}

#profile-photo {
    width: 84px;
    height: 84px;
    border-radius: 10px;
    background-color: #ff6800;
}

#profile-summary-about {
    width: 100%;
    text-align: center;
    height: max-content;
}

#user-name {
    margin: 0;
}

#about {
    padding: 0 15px 0 15px;
    font-size: 14px;
    color: #808080;
}

/*==================================================== followed pages section ========================================*/
#followed-pages {
    box-shadow: 0 0 12px -9px black;
    background-color: white;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    top: 345px;
}

#followed-pages > h4 {
    align-self: self-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-section {
    width: 100%;
}

.page {
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    height: 45px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.page-image {
    width: 40px;
    height: 40px;
    background-color: wheat;
    border-radius: 5px;
}

.page-details {
    display: flex;
    align-items: flex-start;
}

.page-details > h4, .page-details > p{
    margin: 0;
    align-self: self-start;
}
.page-details > p {
    font-size: 13px;
    color: #808080;
}

/*================================================ right section =====================================================*/

/*========================================= recommended pages and profiles  ==========================================*/
#recommended-to-follow {
    box-shadow: 0 0 12px -9px black;
    width: 220px;
    height: max-content;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 75px;
}

#recommended-pagesOrProfiles-section {
    width: 80%;
    align-items: flex-start;
}

#recommended-to-follow > h4 {
    margin-top: 10px;
    font-size: small;
    margin-bottom: 10px;
    align-self: flex-start;
    position: relative;
    left: 10px;
}

.horizontal-line {
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-top: 0;
    margin-bottom: 10px;
}

#recommended-pagesOrProfiles-section > h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#recommended-pagesOrProfiles-section > a > h6 {
    margin: 0;
    margin-bottom: 10px;
}

.recommended-pagesOrProfiles {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 65px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.recommended-pagesOrProfiles-image {
    width: 50px;
    height: 50px;
    background-color: wheat;
    border-radius: 5px;
    align-self: flex-start;
}

.recommended-pagesOrProfiles-details {
    align-self: flex-start;
    gap: 2px;
    align-items: flex-start;
}

.recommended-pagesOrProfiles-details > h4, .recommended-pagesOrProfiles-details > p {
    margin: 0;
}

.recommended-pagesOrProfiles-details > p {
    font-size: 12px;
    color: #808080;
}

.follow-btn {
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 8px;
    background-color: white;
    height: 28px;
    font-size: 15px;
    gap: 5px;
}

/*============================================= center section =====================================================*/
/*=========================================== create post section ==================================================*/
#center-section{
    width: 540px;
    /*height: 500px;*/
    position: relative;
    /* background-color: black; */
    top: 20px;
}
#create-post-section{
   /* position: absolute;
    top: 20px;*/
    width: 520px;
    height: max-content;
    background-color: white;
    border-radius: 10px;
}
#write-post-div{
    width: 100%;
}
#write-post-btn{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    width: 390px;
    border-radius: 8px;
    border: 2px solid #bfbfbf;
    background-color: white;
    color: #808080;
    display: flex;
    align-items: center;
}

#profile-photo-of-create-post-section{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #ff6800;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#media-or-event-div{
    width: 100%;
}
#media-or-event-div>button{
    gap: 15px;
    font-size: 22px;
    border: none;
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 10px;
}
.vertical-line{
    background-color: #EEEEEE;
    width: 2px;
    height: 50px;
}

/*============================================= post =====================================================*/

.post {
    width: 520px;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.posted-account-details {
    position: relative;
    left: 0;
    display: flex;
    align-self: flex-start;
}

#separate-line-post-section-and-create-post {
    margin: 20px 0 20px 0;
    width: 520px;
    height: 2px;
    background-color: #B3B3B3;
}

.user-or-page-dp {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #ff6800;
    margin: 15px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}

.user-or-page-details  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-or-page-details > h3, .user-or-page-details > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.post-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-content > p {
    margin: 0 15px 5px 15px;
    font-size: 15px;
}

.post-media {
    width: 520px;
    height: 320px;
    background-color: #ff6800;
}

.post-reaction-bar {
    display: flex;
    height: 45px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    left: 15px;
}

.heart-react {
    width: fit-content;
    height: 40px;
    font-size: 32px;
    background-color: white;
    border: none;
}

.first-reacted-user, .second-reacted-user {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: center;
    border: 1px #000000 solid;
    background-size: cover;
    background-color: #ff6800;
}

.second-reacted-user {
    position: absolute;
    left: 15px;
}

.other-reacted-users {
    position: relative;
    left: 20px;
    font-size: 18px;
}

.other-reacted-users > small > a {
    color: black;
}
.post>.horizontal-line{
    margin: 0;
}