body {
    background-color: #EEEEEE;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

/*=========================================================Navigation bar=============================================*/
header > div, header > div > menu {
    padding: 0;
    margin: 0;
    gap: 30px;
}

header > div:nth-child(2) {
    width: 10px;
}

header > div {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #7D7D7D;
}

li {
    list-style-type: none;
}

#nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 54px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px -7px black;
}

.nav-icon {
    font-size: 22px;
    margin-bottom: 2px;
}

#search-bar {
    border: none;
    box-shadow: 0 0 3px -2px black;
    border-radius: 5px;
    height: 32px;
    width: 250px;
    background-color: #EEEEEE;
    padding-left: 35px;
}

#search-bar-div {
    position: relative;
}

#search-bar-div > i {
    color: #000000;
    position: absolute;
    left: 10px;
}

/*================================================== left section =====================================================*/

/*================================================== profile summery =====================================================*/
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    margin: auto;
    display: flex;
    width: 100%;
    height: max-content;
}

#left-section, #right-section {
    width: 250px;
    position: fixed;

    height: 500px;
    background-color: black;
}

#left-section {
    left: 0;
    gap: 30px;
    height: max-content;
}

#right-section {
    right: 0;
}

#profile-summary {
    background-color: white;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    top: 75px;
    box-shadow: 0 0 12px -9px black;
}

#profile-summary-cover-photo {
    width: 100%;
    height: 75px;
    background-color: #ff6800;
    border-radius: 10px 10px 0 0;
}

#profile-summary-profile-photo {
    width: 100%;
    height: 60px;
    position: relative;
}

#profile-summary-profile-photo > div {
    width: 88px;
    height: 88px;
    border-radius: 12px;
    background-color: white;
    top: -30px;
    position: relative;
}

#profile-photo {
    width: 84px;
    height: 84px;
    border-radius: 10px;
    background-color: #ff6800;
}

#profile-summary-about {
    width: 100%;
    text-align: center;
    height: max-content;
}

#user-name {
    margin: 0;
}

#about {
    padding: 0 15px 0 15px;
    font-size: 14px;
    color: #808080;
}

/*==================================================== followed pages section ========================================*/
#followed-pages {
    box-shadow: 0 0 12px -9px black;
    background-color: white;
    width: 200px;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    top: 345px;
}

#followed-pages > h4 {
    align-self: self-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-section {
    width: 100%;
}

.page {
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    height: 45px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.page-image {
    width: 40px;
    height: 40px;
    background-color: wheat;
    border-radius: 5px;
}

.page-details {
    display: flex;
    align-items: flex-start;
}

.page-details > h4, .page-details > p {
    margin: 0;
    align-self: self-start;
}
.page-details > p {
    font-size: 13px;
    color: #808080;
}