body {
    background-color: #EEEEEE;
}

/*=========================================================Navigation bar=============================================*/
header > div, header > div > menu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 30px;
}
header>div:nth-child(2){
    width: 10px;
}
header>div{
    flex-grow: 1;
}

/*header > div:first-child {
    flex-grow: 1;
}

header > div:last-child {
    flex-grow: 2;
}*/

a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7D7D7D;
}

li {
    list-style-type: none;
}

#nav-bar {
    position: fixed;
    top: 0;
    height: 54px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px -7px black;
}

.nav-icon{
    font-size: 22px;
    margin-bottom: 2px;
}