#box{
    display: flex;
    position: absolute;
    background-color: white;
    height: 70%;
    width: 30%;
    margin-left: 36%;
    margin-top: 6%;
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    flex-wrap: wrap;
}
#txtSignIn{
    margin-left: 10%;
    font-size: 150%;
}
#email{
    display: flex;
    flex-direction: row;
    /*width: 50%;*/
    /*height: 10%;*/
    /*background-color: #FFFFFF;*/
    /*margin-top: 10%;*/
    /*margin-left: 25%;*/
    /*border-radius: 5%;*/
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    width: 50%;
    margin: 10px 95px;
    border-radius: 5px;
    padding: 4px 18px;
    box-sizing: border-box;
    border: #FF8100;
    flex-wrap: nowrap;

}
.typEmail{
    width: 100%;
}
#password{
    display: flex;
    flex-direction: row;
    /*width: 50%;*/
    /*height: 10%;*/
    /*background-color: #FFFFFF;*/
    /*margin-top: 3%;*/
    /*margin-left: 25%;*/
    /*border-radius: 5%;*/
    /*-webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);*/
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    width: 50%;
    margin: 5px 95px;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    border: #FF8100;
    flex-wrap: wrap;

}
#show{
    margin-left: 75%;
    margin-top: -5%;
    border-bottom-color: #FF8100;


}
#btnsignIn{
    display: flex;
    width: 50%;
    height: 10%;
    background-color: #FF8100;
    margin-top: 0%;
    margin-left: 25%;
    border-radius: 5%;
    border: #FF8100;
    flex-wrap: wrap;
}
#btnTxtSignIn{
    position: absolute;
    left: 43%;
    top: 59%;
    font-size: 124%;
}
/*.txt{*/
/*    font-size: 100%;*/
/*    top: 50%;*/
/*}*/
#Google{
    /*display: flex;*/
    /*width: 50%;*/
    /*height: 10%;*/
    /*background-color: red;*/
    /*margin-left: 25%;*/
    /*margin-top: 2%;*/
    display: flex;
    width: 50%;
    height: 10%;
    background-color: snow;
    margin-top: 0%;
    margin-left: 25%;
    border-radius: 5%;
    /*border: black;*/
    flex-wrap: wrap;
}
#pngGoogle{
    display: flex;
    position: absolute;
    height: 5%;
    top: 73%;
    left: 29%;
}
#txtGogle{
    position: absolute;
    left: 38%;
    top: 70.7%;
    font-size: 100%;
}
#Facebook{
    /*display: flex;*/
    /*width: 50%;*/
    /*height: 10%;*/
    /*background-color: blueviolet;*/
    /*margin-left: 25%;*/
    /*margin-top: -2%;*/
    display: flex;
    width: 50%;
    height: 10%;
    background-color: snow;
    margin-top: 0%;
    margin-left: 25%;
    border-radius: 5%;
    /*border: black;*/
    flex-wrap: wrap;
}
#pngFb{
    display: flex;
    position: absolute;
    height: 7%;
    top: 87%;
    left: 29%;
}
#txtfb{
    position: absolute;
    left: 38%;
    top: 85.7%;
    font-size: 100%;
}
